/*
* @Author: Rosen
* @Date:   2017-04-05 22:51:34
* @Last Modified by:   Rosen
* @Last Modified time: 2017-04-05 23:14:57
*/
.btn-send-goods{
    margin-left: 20px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}