<div class="footer">
    <div class="w">
        <div class="link">
            <a href="#where" class="link" target="_blank">随便吧</a>|
            <a href="#where" class="link" target="_blank">随便吧</a>|
            <a href="#where" class="link" target="_blank">随便吧</a>|
            <a href="#where" class="link" target="_blank">随便吧</a>
        </div>
        <p class="copyright">
            Copyright © 2017 mmall.com All Right
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js">
</script>