/*
* @Author: Rosen
* @Date:   2017-02-09 12:25:51
* @Last Modified by:   Rosen
* @Last Modified time: 2017-04-13 16:08:28
*/
$bg-color: #aaa;

li{
    list-style: none;
}
.navbar-default{
    margin-bottom: 0;
}
.btn-logout{
    cursor: pointer;
}
.page-header{
    margin: 20px 0 20px;
    font-size: 28px;
    color: #666;
}
.page-header-right{
    float: right;
    margin-top: -63px;
}
