/*
* @Author: Rosen
* @Date:   2017-02-28 11:37:57
* @Last Modified by:   Rosen
* @Last Modified time: 2017-03-11 12:15:31
*/
.opear{
    margin: 0 5px;
}

.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }   
}